<div class="page-header">
  <h2>User Stories and Business Rules</h2>
</div>

<h4>User Stories</h4>

<ol>
  <li>As a visitor, I want to sign up for a free account so that I can upload and manage reviews.</li>
  <li>As a visitor, I want to read user stories and business rules.</li>
  <li>As a visitor, I want to see the details of the pre-trained lda model.</li>

  <li>As a user, I want to view all reviews.</li>
  <li>As a user, I want to search reviews by key words.</li>
  <li>As a user, I want to see a specific review.</li>
  <li>As a user, I want to add new reviews.</li>
  <li>As a user, I want to delete a review that I entered.</li>
  <li>As a user, I want to edit a review that I entered.</li>
  <li>As a user, I want to use a pre-trained LDA model to automatically tag reviews.</li>
  <li>As a user, I want to see my account details.</li>
  <li>As a user, I want to modify my account details.</li>
  <li>As a user, I want to logout my account.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>A review consists of a title and content.</li>
  <li>100 reviews are pre-populated from a csv to admin account</li>
  <li>Pre-trained LDA model is stored under /python folder</li>
  <li>Passwords must be encrypted.</li>
</ol>