<fieldset>
<div class="form-inline">
  	<div class="input-group">
        <span class="input-group-addon"><%= f.hidden_field :_destroy %>
  		<%= link_to "X", '#', class: "remove_fields" %></span>

		<%= f.text_field :topic, placeholder: "Tag", maxlength:100, class: "form-control"%>
	</div>
</div>
</fieldset>