<div class="tab-content">
	<div id="documents" class="tab-pane fade in show active">
		<div class="col-sm-12">
			<ul class="nav nav-pills">
				<li><a href="/documents"> Dashboard </a></li>
				<li><a href="/documents/new"> New Data </a></li>
			</ul>
			<br>

			<%= render "form" %>
		</div>
	</div>
</div>