<div class="tab-content">
	<div id="reviews" class="tab-pane fade in show active">
		<div class="col-sm-12">
			<ul class="nav nav-pills">
				<li><a href="/reviews"> Dashboard </a></li>
				<li><a href="/reviews/new"> New Data </a></li>
			</ul>
			<br>

			<div class="panel-info">
				<div class="panel-heading"  id="new_review_panel">
					<h3 class="panel-title"> Tag Data Using LDA </h3>
				</div>
				<div class="panel-body">
					<% if  @review.errors.full_messages.any? %>
						<ul class="bg-warning">
							<% @review.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					<% end %>
					<p> Topic Area Number: <%= @tag %> </p>
					<li>Area 0: [Machine Learning] method feature data learning classification network proposed algorithm clustering set</li>
					<li>Area 1: [Computer Graphics] image object surface method 3d model point motion using shape</li>
					<li>Area 2: [Computer Architecture, Processor] processor performance parallel application architecture memory machine hardware data implementation</li>
					<li>Area 3: [Computer Programmng] program system software language code design tool programming process analysis</li>
					<li>Area 4: [Computer Network, Server] system resource server time service scheduling performance task control policy</li>
					<li>Area 5: [Natural Language Processing] model rule language property set system class logic semantics relation</li>
					<li>Area 6: [Security] security protocol attack key message detection scheme failure system information</li>
					<li>Area 7: [Algorithm] algorithm problem solution time optimization number optimal tree method set</li>
					<li>Area 8: [Database, Web] data query database information web document search approach result retrieval</li>
					<li>Area 9: [Computer Network, Routing] network node traffic protocol routing wireless packet scheme sensor performance</li>
					<li>Area 10: [Distributed System, Mobililty] system application service environment distributed architecture mobile device user management</li>
					<li>Area 11: [Computer Architecture, Memory] memory cache performance data access file transaction system storage disk</li>
					<li>Area 12: [Computation] method equation numerical function scheme flow matrix system solution using</li>
					<li>Area 13: [Computer Education] student learning computer study group project course research development use</li>
					<li>Area 14: [User Experience] user system information design research use problem work many approach</li>
					<li>Area 15: [Unclear] task word speech study visual processing result experiment effect activity</li>
					<li>Area 16: [Game Theory, Decision Theory] agent model game process product decision system business organization planning</li>
					<li>Area 17: [Data Analysis] model analysis result data distribution parameter time method simulation study</li>
					<li>Area 18: [Computer Organization, Design] power design circuit test energy fault technique proposed area consumption</li>
					<li>Area 19: [Graph Theory] n graph number time 1 bound problem k p set</li>
					<br>
					<%= link_to "Back", "/reviews/#{@review.id}" %>
				</div>
			</div>
		</div>
	</div>
</div>